<%# cache ['homejulie', site, I18n.locale] do %>
<%
  @portfolio ||= site.portfolio
  @projects ||= @portfolio.projects
  @categories ||= @portfolio.categories.in_use
%>

<% if @categories.any? %>
  <button id="btn-categories" type="button" class="btn btn-primary">
    <%= t("custom.view_all_themes") %>
    <i class="icon ion-close-circled"></i>
  </button>
  <div id="categories-off-canvas">
    <div class="list-categories-container">
      <ul class="list-unstyled list-categories">
        <li><%= link_to(t("custom.view_all_themes"), "#", :class => "filter", :data => { :filter => "all" } ) %></li>
        <% @categories.each do |cat| %>
            <li><%= link_to(cat.title, "#", :class => "filter",
              :data => { :filter => "." + cat.title.parameterize, :text => cat.body },
              :tabindex => "-1") %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div id="project-wrapper">
  <%= render "throbber" %>
  <div id="project-container">
  </div>
</div>

<div id="projects-wrapper">
  <!-- <a href="#" class="btn btn-primary" id="close-btn"><i class="icon ion-close"></i> Fermer</a> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        <h1 id="category-title"></h1>
        <p id="category-description"></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row projects">
      <%= render @projects, :as => :project %>
    </div>
  </div>
</div>
<%# end %>
