  <!-- to avoid carousel automatically cycle we set data-interval to false -->
  <div id="project-carousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% images.each_with_index do |img, index| 
          geom = case device_type
          when :mobile
            img.portrait? ? "x320" : "480x320#"
          when :tablet
            img.portrait? ? "x768" : "1024x768#"
          else
            img.portrait? ? "x900" : "1200x900#"
          end
      %>
        <div class="item <%= 'active' if index == 0 %>">
          <% if !img.video_url.blank? %>
            <div class="item active flex-video vimeo" style="margin: 0 auto;text-align:center;">
              <iframe src="http://player.vimeo.com/video/<%= img.video_url %>?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0&amp;api=1"></iframe>
            </div>
          <% else %>
            <%= image_fu(img, geom, :rel => "external") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if images.count > 1 %>
    <!-- Carousel indicator --> 
    <ol class="carousel-indicators">
      <% images.each_with_index do |img, index| %>
        <li data-target="#project-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"><span class="round"></span></li>
      <% end %>
    </ol>
    <% end %>
    <a class="carousel-control left" href="#project-carousel" role="button" data-slide="prev">
        <i class="icon ion-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control right" href="#project-carousel" role="button" data-slide="next">
        <i class="icon ion-chevron-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
  </div>
  <a id="carousel-pause" class="animate-control animate-control-pause" href="#" data-slide="next"><i class="fa fa-pause"></i></a>
  <a id="carousel-play" class="animate-control animate-control-play" href="#" data-slide="next"><i class="fa fa-play"></i></a>